<!DOCTYPE html>
<html>
<head>
	<title>Employee List</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: lightskyblue">Employee Database</h1>

		<body bgcolor="azure">

			<form action="/getemp" autocomplete="on" method = "GET" enctype="multipart/form-data">
            	<table>
        	<tr style="color:white;background-color: orange">
            	<th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Contact No</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Image</th>
                <th>Hire Date</th>
                <th>Attendance</th>
            	<th>Actions</th>
        	</tr>
            	<tr style="background-color: whitesmoke;text-align: center;">
                <td>{{ emp_id }}</td>
                <td>{{ emp_name }}</td>
                <td>{{ gender }}</td>
                <td>{{ contact }}</td>
                <td>{{ position }}</td>
                <td>{{ salary }}</td>
                <td>123</td>
                <td>henlo</td>
                <td>HI</td>
                <td>
                    <a href="/delete/{{ emp_id }}">Delete</a>
                    <br>
                    <a href="/update/{{ emp_id }}">Update</a>
                </td>
            	</tr>
                
    			</table>
			</form>

		</body>

	</font>
</center>
</html>
